<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/style/forms.css">
<link rel="stylesheet" href="/style/login.css">
<%- include('../layouts/nav.ejs') %>
<main>
    <% if(errorMessage) { %>
    <div class="user-message user-message--error"> <%= errorMessage %> </div>
    <% } %>
    <form class="login-form" action="/reset" method="POST">
        <div class="div-form">
            <label for="email"> Enter your Email </label>
            <input type="text" name="email" id="email">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
        <button style="text-align: center;" class='add-button' type="submit" class="btn"> Reset Password </button>
    </form>
</main>
<%- include('../layouts/foot.ejs') %>