<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/style/cart.css">
<link rel="stylesheet" href="/style/product.css">

<%- include('../layouts/nav.ejs') %>
    <main>
        <% if(product.length>0) { %>
            <ul class = "cart_item-list">
                <% product.forEach(p => { %>
                     <a href="/products/<%= p.productId._id %>" style="text-decoration: none; color: black;">
                    <li class = "cart_item">
                       
                       <h1> <%= p.productId.title %> </h1> 
                       <h2> Quantity: <%= p.quantity %> </h2> 
                            <form action="/delete-cart-item" method="POST">
                                <input type="hidden" value="<%= p.productId._id%>" name="productID">
                                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                                <button type="submit" style="align-items: left"> Delete </button>
                            </form>  
                        </li>  
                    </a>
                    <br>  
                 <% }) %>
            </ul>
            <hr>
            
            <div class="centered">
                <p> Cart Total = Rs <%= cartValue %> </p>
                <a class="order" href="/checkout"> Order Now </a>
            </div>
            
            
            
        <% } else { %>
                <h1> No Products in your Cart </h1>
            <% } %>
        </main>
<%- include('../layouts/foot.ejs') %>
