<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/style/product.css">
<%- include('../layouts/nav.ejs') %>
    <main>
        <% if(prods.length > 0) { %>
            <% for (product of prods) { %>
                <div class="grid">
                    <article class="card_product_item">
                        <header class="card_header">
                            <h1 class="product_title"> <%= product.title %> </h1>
                        </header>
                        <br>
                        <div class="card_product_image">
                            <img src="<%= product.imageURL %>" alt="Product Image">
                        </div>
                        <div class="card_product_content">
                            <h2 class="product_price"> Rs. <%= product.price %> </h2>
                            <p class="product_description"> <%= product.description %> </p>
                        </div>
                        <% if(isAuthenticated) { %>
                            <div class="card_actions">
                                <%- include('../layouts/add-to-cart.ejs', {product:product}) %>
                            </div>  
                        <% } %>
                    </article>
                </div>
            <% } %>
                <%- include('../layouts/pagination.ejs', {hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage, currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage}) %>
        <% } else { %>
        <h1> No Products! <h1>
                <% } %>
    </main>
<%- include('../layouts/foot.ejs') %>